.tab-container {
    position: relative;
}

.tab-slider {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9999px;
    background-color: #67645E;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    z-index: 1;
}

.tab-button {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 1rem 1.5rem;
    font-weight: 500;
    color: #67645E;
    width: 100%;
    border-radius: 9999px;
    transition: color 0.3s ease;
    border: none;
    background: transparent;
    cursor: pointer;
}

.tab-button.active {
    color: #FAFAFA !important;
}

