---
import { products } from '../../constants/home/products';
import ButtonSlide from '../ui/buttons/ButtonSlide.tsx';
const product  = products[0];
---
<section class="w-full h-full relative">
    <img src="/images/shop/banner.png" alt="Banner" class="w-full object-cover rounded-lg sm:block hidden" />
    <img src="/images/shop/banner-responsive.png" alt="Banner" class="w-full h-full object-cover rounded-lg sm:hidden block" />
    <div class="absolute sm:bottom-14 bottom-6 right-14 w-fit flex flex-col justify-start items-start sm:gap-4 gap-2">
        {
            product.discount && (
                <div class="w-fit bg-primary-discount p-2 text-d-products text-2xl text-primary-lotion rounded-md">
                    -{product.discount}% OFF
                </div>
            )
        }
        <h1 class="sm:text-d-title-1 text-d-title-2 text-primary-olive">
            {product.name}
        </h1>
    </div>
</section>