<section class="w-full relative flex sm:flex-row flex-col-reverse sm:gap-6 gap-0 items-center justify-center py-section-m-gap-y h-screen">
    <div class="sm:w-[35%] w-full sm:h-full h-auto bg-primary-olive flex flex-col justify-end items-start p-10 sm:rounded-lg rounded-none">
        <h1 class="text-d-title-1 text-primary-lotion">
            <span class="block relative w-fit">Our</span> Ingredients
        </h1>
        <p class="text-d-primary text-[#C1C1C1]">
            Healthy, full hair starts with science. We use natural ingredients backed by science to protect your hair and restore its vitality.
        </p>
    </div>
    <div class="sm:w-3/5 w-full sm:h-full h-auto bg-primary-silver flex items-center justify-center overflow-hidden sm:rounded-lg rounded-none">
        <video src="/images/ingredients/banners.mp4" class="w-full h-full object-cover sm:aspect-auto aspect-square object-[0%_40%]"  autoplay muted loop></video>
    </div>
</section>

