<section class="w-full h-fit relative flex sm:flex-row flex-col gap-6 items-center justify-center">
    <div class="w-[35%] h-[681px] bg-primary-olive flex flex-col justify-end items-start p-10">
        <h1 class="text-d-title-1 text-primary-lotion">
            <span class="block relative w-fit">Our</span> Ingredients
        </h1>
        <p class="text-d-primary text-[#C1C1C1]">
            Healthy, full hair starts with science. We use natural ingredients backed by science to protect your hair and restore its vitality.
        </p>
    </div>
    <div class="w-3/5 h-[681px] bg-primary-silver flex items-center justify-center overflow-hidden">
        <video src="/images/ingredients/banners.mp4" class="w-full h-full object-cover" autoplay muted loop></video>
    </div>
</section>

