---
import IngredientsCarousel from '../commons/ingredientsCarousel.tsx';
import IngredientsCarouselMobile from '../commons/ingredientsCarouselMobile.tsx';
---

<section class=" flex sm:flex-row flex-col gap-6 sm:pt-0 pt-section-m-gap-y">
    <div class="sm:block hidden w-full max-w-screen-2xl mx-auto h-full sm:px-[28px] px-section-m-gap-x">

        <IngredientsCarousel client:load />
    </div>
    <div class="sm:hidden block px-section-m-gap-x pb-section-m-gap-y">
        <IngredientsCarouselMobile client:load />
    </div>
</section>