---
import IngredientsCarousel from '../commons/ingredientsCarousel.tsx';
---

<section class="w-full max-w-screen-2xl mx-auto flex sm:flex-row flex-col gap-6 pt-section-d-gap-y">
    <IngredientsCarousel client:load />
</section>