---
import ButtonSlide from '../ui/buttons/ButtonSlide.tsx';
import AboutIngredientsCarouesel from '../commons/aboutIngredientsCarouesel';
---

<section class="grid grid-cols-5 w-full sm:max-w-screen-2xl mx-auto font-sans overflow-hidden sm:px-[70px] px-0 sm:py-section-d-gap-y items-center">
    <div class="flex flex-col gap-10 col-span-2">
        <h1 class="text-d-title-1 text-primary-olive">Pure Ingredients</h1>
        <p class="text-d-primary text-primary-granite">DiBruno is crafted with 100% organic, vegan ingredients. Always cruelty-free, always sustainable. No harmful chemicals, no unnecessary fillers. </p>
        <ButtonSlide
            text="EXPLORE ALL OUR INGREDIENTS"
            href="#"
            normalBackground="transparent"
            normalColor="#3B3B3B"
            hoverBackground="#3B3B3B"
            hoverColor="#FAFAFA"
            borderColor="#3B3B3B"
            hoverBorderColor="#FAFAFA"
            transitionDuration="0.5s"
        />
    </div>
    <div class="col-span-3">            
    <AboutIngredientsCarouesel client:load />
    </div>
</section>