---
import ButtonSlide from '../ui/buttons/ButtonSlide.tsx';
import AboutIngredientsCarouesel from '../commons/aboutIngredientsCarouesel';
---

<section class="grid sm:grid-cols-5 grid-cols-1 w-full sm:max-w-screen-2xl mx-auto font-sans overflow-hidden sm:px-0 px-section-m-gap-x sm:py-section-d-gap-y pb-section-m-gap-y items-center sm:gap-0 gap-6">
    <div class="flex flex-col sm:gap-10 gap-4 col-span-2">
        <h1 class="sm:text-d-title-1 text-d-title-2 text-primary-olive sm:text-left text-center">Pure Ingredients</h1>
        <p class="sm:text-d-primary text-d-secondary text-primary-granite sm:text-left text-center">DiBruno is crafted with 100% organic, vegan ingredients. Always cruelty-free, always sustainable. No harmful chemicals, no unnecessary fillers. </p>
        <ButtonSlide
            text="EXPLORE ALL OUR INGREDIENTS"
            href="#"
            normalBackground="transparent"
            normalColor="#3B3B3B"
            hoverBackground="#3B3B3B"
            hoverColor="#FAFAFA"
            borderColor="#3B3B3B"
            hoverBorderColor="#FAFAFA"
            transitionDuration="0.5s"
            className="sm:w-fit w-full justify-center items-center flex"
        />
    </div>
    <div class="col-span-3">            
    <AboutIngredientsCarouesel client:load />
    </div>
</section>