<section class="w-full mx-auto font-sans overflow-hidden sm:grid grid-cols-2 flex flex-col items-center justify-between px-0 sm:py-section-d-gap-y py-section-m-gap-y gap-6 sm:gap-[156px]">
    <h1 class="sm:text-d-title-1 text-d-title-2 text-primary-olive sm:hidden block text-center">Science With <br /> Conscience</h1>
    
    <div class="size-fit overflow-hidden">
        <img src="/images/about/imag-home-values.png" alt="Science With Conscience" class="sm:h-screen h-[352px] aspect-[3/2] object-cover sm:object-center hover:scale-105 transition-all duration-300 ease-in-out object-[0%_35%]" />
    </div>
    <div class="flex flex-col gap-6 w-full h-full justify-center  sm:pr-[76px] pr-0 px-2">
        <h1 class="sm:text-d-title-1 text-d-title-2 text-primary-olive sm:block hidden">Science With Conscience</h1>
        <p class="text-d-secondary text-primary-granite sm:text-left text-center">At DiBruno, we combine years of scientific expertise with a passion for innovation to redefine hair and skin care. Our advanced formulas are developed through rigorous research led by experts in organic chemistry, ensuring each product is not only effective but tailored to your unique needs.</p>
    </div>
</section>
