---
import AnimatedLink from '../ui/buttons/AnimatedLink.tsx';
import TestimonialsCarousel from '../commons/testimonialsCarousel.tsx';

---

<section class="max-w-screen-2xl mx-auto font-sans flex flex-col gap-10">
    <div class="flex sm:flex-row flex-col sm:justify-between items-start sm:items-end sm:gap-10 gap-6 sm:px-section-d-gap-x px-section-m-gap-x">
        <h2 class="sm:text-d-title-1 text-d-title-2 text-primary-olive sm:text-left text-center">
            PROOF IN THE RESULTS<br />
        </h2>
        <AnimatedLink
            text="EXPLORE ALL TESTIMONIALS"
            className="text-d-button text-primary-granite"
            animationDuration={0.5}
            linePosition={-8}
            className="sm:w-fit w-full text-center text-d-secondary font-weight-bold"
        />
    </div>
    <TestimonialsCarousel client:load />
</section>