---
import AnimatedLink from '../ui/buttons/AnimatedLink.tsx';
import ProductCard from '../cards/ProductCard.tsx';
import ProductsCarousel from '../commons/productsCarousel.tsx';
import { getProductsPaginated } from "../../utils/shopify";

let ip = null;
try {
    const headers = Astro.request.headers;
    ip = headers.get("x-vercel-forwarded-for") || headers.get("x-forwarded-for") || Astro.clientAddress;
} catch (error) {
    ip = null;
}
const limit = 4;
const after = null;

const { products: pageProducts, pageInfo: info } = await getProductsPaginated({ buyerIP: ip || "127.0.0.1", limit, after });

---

<section class="w-full font-sans py-section-m-gap-y flex flex-col gap-11">
    <div class="flex flex-row justify-between items-end w-full sm:px-8 px-4">
        <h1 class="sm:text-[48px] sm:font-normal leading-[-0.96px] text-[24px] text-[#212121] font-secondary">Our Best Sellers</h2>
        <div class="flex flex-row gap-4 items-center sm:pb-4 pb-2">
            <AnimatedLink 
                text="View All Products"
                className="text-d-button font-normal text-[#212121] sm:text-[16px] text-[14px] sm:tracking-[-0.32px] tracking-[-0.28px] "
                animationDuration={0.5}
                linePosition={-8}
                href="/products"
            />
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M7.21484 2.96484L10.2498 5.99985L7.21484 9.03485" stroke="black" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.75 6H10.165" stroke="black" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <!-- <div class="w-full h-full flex-row mx-auto sm:flex hidden">
        {pageProducts.map((product: any) => (
            <ProductCard product={product} client:load />
        ))}
    </div> -->
    <ProductsCarousel products={pageProducts} client:load />
</section>