---
import AnimatedLink from '../ui/buttons/AnimatedLink.tsx';
import ProductsCarousel from '../commons/productsCarousel.tsx';
---

<section class="max-w-screen-2xl mx-auto font-sans sm:py-section-d-gap-y py-section-m-gap-y flex flex-col gap-10">
    <div class="flex justify-between items-center w-full sm:px-section-d-gap-x px-section-m-gap-x">
        <h1 class="text-d-title-1 text-primary-olive">Best Sellers</h2>
        <AnimatedLink 
            text="EXPLORE ALL PRODUCTS"
            className="text-d-button text-primary-granite"
            animationDuration={0.5}
            linePosition={-8}
        />
    </div>
    <ProductsCarousel client:load />
</section>