---
import ButtonSlide from '../ui/buttons/ButtonSlide.tsx';
---

<section class="flex flex-row gap-24 max-w-screen-2xl mx-auto font-sans pb-section-d-gap-y px-section-d-gap-x max-h-screen-850">
    <div class="flex flex-col justify-between items-start w-full gap-8 h-fit">
        <h2 class="text-d-title-1 text-primary-olive">REAL INGREDIENTS <br /> REAL RESULTS</h2>
        <p class="text-d-primary text-primary-granite">
            We’ve spent years perfecting organic, effective and innovative formulas for hair regrowth and healthier skin.
        </p>
        <ButtonSlide
            text="OUR VALUES"
            href="#"
            normalBackground="transparent"
            normalColor="#3B3B3B"
            hoverBackground="#3B3B3B"
            hoverColor="#FAFAFA"
            borderColor="#3B3B3B"
            hoverBorderColor="#FAFAFA"
            transitionDuration="0.5s"
        />
    </div>
    <div class="min-h-screen-850 w-full overflow-hidden">
        <img src="/images/home/ingredientsResults.png" alt="Ingredients Results" class="min-h-screen-850  object-cover hover:scale-110 transition-all duration-500" />
    </div>
</section>