---
import ButtonSlide from '../ui/buttons/ButtonSlide.tsx';
---

<section class="flex sm:flex-row flex-col-reverse sm:gap-24 gap-6 sm:max-w-screen-2xl w-full mx-auto font-sans sm:pb-section-d-gap-y pb-section-m-gap-y max-h-screen-850 sm:px-0 px-section-m-gap-x">
    <div class="flex flex-col justify-between items-start w-full sm:gap-8 gap-6 h-fit">
        <h2 class="sm:text-d-title-1 text-d-title-2 text-primary-olive">
            REAL INGREDIENTS <br /> 
            REAL <div class="inline-block relative w-fit">RESULTS<span class="absolute -bottom-1 left-0 w-full bg-[#94B1B7] h-1/2 z-[-1]"></span></div>
        </h2>
        <p class="sm:text-d-primary text-d-secondary text-primary-granite">
            We’ve spent years perfecting organic, effective and innovative formulas for hair regrowth and healthier skin.
        </p>
        <ButtonSlide
            text="OUR VALUES"
            href="/ingredients"
            normalBackground="transparent"
            normalColor="#3B3B3B"
            hoverBackground="#3B3B3B"
            hoverColor="#FAFAFA"
            borderColor="#3B3B3B"
            hoverBorderColor="#FAFAFA"
            transitionDuration="0.5s"
        />
    </div>
    <div class="w-full overflow-hidden flex justify-center items-center">
        <img src="/images/home/ingredientsResults.avif" alt="Ingredients Results" class="w-full object-cover hover:scale-110 transition-all duration-500 -translate-y-10 sm:translate-y-0" />
    </div>
</section>