---
import ProductsCarousel from '../commons/diBrunoCarouesel';
---

<section class="max-w-screen-2xl mx-auto font-sans flex flex-col gap-10 sm:px-0 px-section-m-gap-x sm:pb-section-d-gap-y pb-section-m-gap-y">
    <ProductsCarousel client:load />
</section>