---
import ProductsCarousel from '../commons/diBrunoCarouesel';
---

<section class="max-w-screen-2xl mx-auto font-sans sm:py-section-d-gap-y py-section-m-gap-y sm:px-section-d-gap-x px-section-m-gap-x flex flex-col gap-10">
    <ProductsCarousel client:load />
</section>