---
import AnimatedLink from '../ui/buttons/AnimatedLink.tsx';
import TestimonialsCarousel from '../commons/testimonialsCarousel.tsx';

---

<section class="max-w-screen-2xl mx-auto font-sans flex flex-col gap-10">
    <div class="flex sm:flex-row flex-col sm:justify-between items-start sm:items-end gap-10 sm:px-section-d-gap-x px-section-m-gap-x">
        <h2 class="sm:text-d-title-1 text-d-title-2 text-primary-olive">
            MEET THE PEOPLE <br />
            <span class="text-primary-olive sm:ml-[90px] ml-0">
                BEHIND THE <div class="inline-block relative w-fit">RESULTS<span class="absolute -bottom-1 left-0 w-full bg-[#94B1B7] h-1/2 z-[-1]"></span></div>
            </span>
        </h2>
        <AnimatedLink
            text="EXPLORE ALL TESTIMONIALS"
            className="text-d-button text-primary-granite"
            animationDuration={0.5}
            linePosition={-8}
        />
    </div>
    <TestimonialsCarousel client:load />
</section>