<section class="flex sm:flex-row sm:mt-20 mt-0 max-w-screen-2xl mx-auto font-sans pt-4 sm:px-section-d-gap-x px-0 flex-col sm:gap-6 gap-0 sm:pb-0 pb-section-m-gap-y">
    <div class="text-primary-olive flex flex-col gap-6 sm:w-[65%] w-full bg-primary-bright z-10 sm:rounded-lg rounded-none justify-center items-center">
        <div class="flex flex-col gap-6 relative sm:h-full h-[270px]">
            <h1 class="sm:text-d-title-1 text-d-title-2">
                DO YOU NEED A <br /> 
                <div class="inline-block relative w-fit">
                    CUSTOMIZED FORMULA?
                    <span class="absolute -bottom-1 left-0 w-full !bg-[#94B1B7] h-1/2 z-[-1] "></span></div>
            </h1>
            <a href="#" class="text-d-primary text-2xl text-primary-granite">Chat with our experts</a>
        </div>
    </div>
    <div class="sm:w-[35%] w-full h-full sm:rounded-lg rounded-none overflow-hidden">
        <img src="/images/home/custom-product.png" alt="Chat with our experts" class="w-full h-full object-cover" />
    </div>
</section>