<section class="flex sm:mt-20 mt-0 max-w-screen-2xl mx-auto font-sans pt-4 sm:px-section-d-gap-x px-section-m-gap-x flex-col gap-6">
    <h1 class="sm:text-[70px] text-[32px] leading-[120%] font-semibold text-primary-olive text-center sm:pt-0 pt-section-m-gap-y">
        Frequently Asked <br /> Questions
    </h1>
    <p class="sm:text-2xl text-d-secondary leading-[120%] font-normal text-primary-granite text-center sm:px-0 px-6">
        These are the most commonly asked questions abour DiBruno’s <br /> solutions, if you can’t find what you’re looking for <a href="#" class="text-primary-olive">chat with our team</a>
    </p>
</section>