---
// Importar estilos globales
import '../styles/global.css';
import Navbar from '@/components/commons/navbar.astro';
import Footer from '@/components/commons/footer.astro';
import CartDrawer from '@/components/cart/CartDrawer.tsx';

export interface Props {
	title?: string;
	description?: string;
}

const {
	title = "DiBruno Lab | Organic & Vegan Hair Loss Treatment & Hair Growth",
	description = "Dibruno Lab offers vegan, organic hair care solutions to stop hair loss, promote regrowth, and restore a healthy scalp. Science with conscience, for stronger, fuller hair."
} = Astro.props as Props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body >
		<Navbar />
		<div class="w-full h-full sm:p-2 p-1">
			<slot />
			<Footer />
		</div>
		<CartDrawer client:load />
	</body>
</html>
